.App {
  display: grid;
  grid-template-rows: 1fr 50px 1fr;
  height: 95vh;
}

.inverted {
  transform: rotate(180deg);
}

.scoreboard {
  background-color: blue;
  color: white;
}

h2 {
  color: chartreuse;
}

.player {
  color: white;
  font-weight: 600;
  background-color: green;
}

.btnTally {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.btnTally .quantity {
  color: green;
  font-weight: 600;
}

.row {
  display: flex;
  margin: 10px;
  gap: 10px;
}
