.App {
  display: grid;
  grid-template-rows: 1fr 50px 1fr;
  height: 95vh;
}

.inverted {
  transform: rotate(180deg);
}

.scoreboard {
  background-color: blue;
  color: white;
}

h2 {
  color: chartreuse;
}

.player {
  color: white;
  font-weight: 600;
  background-color: green;
  padding: 0 1rem;
}

.btnTally {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  height: 50px;
}

button {
  border-radius: 5px;
  width: 60px;
}

.btnTally .quantity {
  color: green;
  font-weight: 600;
}

.score-summary {
  display: flex;
  justify-content: space-between;
  padding-block-end: 2rem;
}

.turn-control {
  margin-block-end: 1rem;
}

.scoring-grid {
  display: grid;
  grid-template-columns: 9rem 1fr;
  margin-inline-start: 2rem;
}

.row {
  display: flex;
  gap: 5px;
}
